h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    background-color: #fff;
}
.container{
    height: 500px;
    width: 400px;
}
.box{
    height: 100px;
    width: 100px;
    
}